node_modules/
dist/
*.sqlite
*.sqlitedb
.env
.env.local
coverage/
.nyc_output
*.log
*.env
.env.*
!.env.example
dbg-*
*.local
*.py
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
.vscode/
.idea/
.eslintcache
.prettierrc.cache
